<p>
  <%=raw t( :mail_body_enrollment_accepted, supervisor: mail_to(@supervisor.user.email, @supervisor.full_name), thesis_title: link_to(@enrollment.thesis.title, diamond.thesis_url(@enrollment.thesis) )) %>
</p>