<p>
  <%=raw t( :mail_body_enrollment_rejected_timeout, thesis_title: link_to(@enrollment.thesis.title, diamond.thesis_url(@enrollment.thesis) ), enrollment_days_limit: Settings.enrollment_days_limit, supervisor: @supervisor.full_name) %>
</p>